<!doctype html>
<html lang="en">
<head>

<title>Canada visa processing time</title>
<meta http-equiv="x-ua-compatible" content="ie=edge">
<meta name="viewport" content="width=device-width, initial-scale=1">

<style>
#app table {
    border-collapse: collapse;
}

#app table, #app td {
    border: 1px solid black;
}

#app td {
    padding: 5px 20px;
}

#app div {
    margin: 20px 10px;
}
</style>

</head>

<body>

<div id="app">
    <div>
        <table>
            <tr>
                <td>Visa Type</td>
                <td>{{ type }}</td>
            </tr>
            <tr>
                <td>Country</td>
                <td>{{ countryName }}</td>
            </tr>
            <tr v-if="start">
                <td>Start Date</td>
                <td>{{ start }}</td>
            </tr>
            <tr>
                <td>Processing Time</td>
                <td><strong>{{ time }}</strong></td>
            </tr>
            <tr v-if="end">
                <td>End Date</td>
                <td>{{ end }}</td>
            </tr>
            <tr>
                <td>&nbsp;</td>
                <td>&nbsp;</td>
            </tr>
            <tr>
                <td>Last Updated</td>
                <td>{{ lastUpdated }}</td>
            </tr>
        </table>
    </div>
    <div>
        <a href="https://github.com/chrisxue815/canada-visa-processing-time">README</a>
    </div>
</div>

<script src="https://cdn.jsdelivr.net/npm/vue@2"></script>
<script src="https://cdn.jsdelivr.net/npm/moment@2"></script>

<script>

async function main() {
    const timesResp = await fetch('https://www.canada.ca/content/dam/ircc/documents/json/data-ptime-en.json');
    const times = await timesResp.json();

    const countryNamesResp = await fetch('https://www.canada.ca/content/dam/ircc/documents/json/data-country-name-en.json');
    const countryNames = await countryNamesResp.json();

    const url = new URL(location.href);
    const type = url.searchParams.get('type');
    const country = url.searchParams.get('country');
    const countryName = countryNames['country-name'] && countryNames['country-name'][country];
    const time = times[type] && times[type][country];

    const start = url.searchParams.get('start');
    let end = null;

    if (start && time) {
        const parts = time.split(' ');
        if (parts.length === 2 && !isNaN(parseInt(parts[0]))) {
            end = moment(start, 'YYYY-MM-DD').add(parts[0], parts[1]).format('YYYY-MM-DD');
        }
        else {
            end = 'N/A';
        }
    }

    const lastUpdated = moment(times[type] && times[type]['lastupdated'], 'MMMM DD, YYYY').format('YYYY-MM-DD');

    const app = new Vue({
        el: '#app',
        data: {
            type,
            countryName,
            time,
            start,
            end,
            lastUpdated,
        },
    });
}

main();

</script>

</body>
</html>
